@import url('https://googleapis.com');

.ui.active.progress .bar::after {
  -webkit-animation: none !important;
  animation: none !important;
}

.ui.dropdown.centered {
  text-align: center;
}

.thirdwidth {
  width: 33%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif !important;
}