@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');
.ui.active.progress .bar::after {
  -webkit-animation: none !important;
  animation: none !important;
}

.ui.dropdown.centered {
  text-align: center;
}

.thirdwidth {
  width: 33%;
}